<h3 class='text-center'>Welcome to Dashboared</h3>

{{#if user}}
  <div class='card mx-auto' style='width: 100%;'>
    <div class='card-header'>
      Username:
      {{user.username}}
    </div>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>Id: {{user.id}}</li>
      <li class='list-group-item'>Email: {{user.email}}</li>
      <li class='list-group-item'>Passwrod: {{user.password}}</li>
    </ul>
  </div>
{{/if}}

<form action='/logout' class='d-grid my-3' method='post'>
  <input type='submit' value='Logout' class='btn btn-danger' />
</form>